<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>

        <class name="CrudTest"/>
      <class name="PostmanTest"/>
      <class name="AugustTesting.NewAPITest"></class>
      <class name="AugustTesting.UserAPI"></class>
    </classes>
  </test> <!-- Test -->
  <test name = "test1">

    <parameter name = "myName" value="manisha"/>

    <classes>
      <class name = "ParameterizedTesting" />
    </classes>

  </test>

</suite> <!-- Suite -->





